
<!-- fot the tests in dynamic form-->
<!-- <lib-dynamic-form nameCls="Test" colNumber="3" (displayButton)="this.updatedButtonsAction($event);" (displayTitle)="this.updateTitleDescription($event);" [handlerInstantition]="handlerInst" ></lib-dynamic-form>
<button (click)="clickSend()" >TEST GET INFOS</button> -->

<lib-dynamic-listing nameCls="TestListing" [handlerInstantition]="handlerInst" (onRowClicked)="cliked($event)" (onHrefClicked)="clickedHref($event)" editableMode="popup"
nameClsFormPopup="FormListing" (onSaveClicked)="onSaveLising($event)" [addInEditMode]="true" [deleteMode]="true" ></lib-dynamic-listing>

<!-- <lib-dynamic-form nameCls="Test" [handlerInstantition]="handlerInst"  ></lib-dynamic-form>

<button (click)="changeVisibility()" >MAKE IT INVISIBLE</button>

<button (click)="changeVisibilityYes()" >MAKE IT VISIBLE</button>

<button (click)="changeDisabled()" >MAKE IT DISABLED</button>

<button (click)="changeDisabledYes()" >MAKE IT ACTIVE</button>

<br/>

<button (click)="test()">TEST</button> -->